.app {
  display: flex;
  justify-content: space-between;
  margin: 3em auto;
  width: 95%;
}

@media only screen and (max-width: 820px) {
  .app {
    display: inline-block;
    margin: 1em auto;
    padding: 1em;
  }
}
